@model IList<Weather>
@using Capstone.Web.Models

@{
    ViewBag.Title = "Weather";

    if (Session["isFarenheit"] == null)
    {
        Session["isFarenheit"] = true;
    }
    bool isFarenheit = (bool)Session["isFarenheit"];


}

<br />
<br />
<h2 style="text-align:center">
    Five Day Weather Forecast
</h2>

<form action="/weather/changetemperaturescale" method="post">
    <input name="id" type="hidden" value=@Model[0].ParkCode>
    <button>change temperature scale</button> 
</form>

<table class="table">
    <tr>
        <th>
            Day
        </th>
        <th>
            Low
        </th>
        <th>
            High
        </th>
        <th>
            Forecast
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FiveDayForecastValue)
            </td>
            <td>
                @if(!isFarenheit)
                {
                @Html.DisplayFor(modelItem => item.CelsiusLow)
                } 
                else
                {
                @Html.DisplayFor(modelItem => item.Low)
                } 
            </td>

            <td>
                @if(!isFarenheit)
                {
                @Html.DisplayFor(modelItem => item.CelsiusHigh) 
                } 
                else
                {
                @Html.DisplayFor(modelItem => item.High)
                } 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Forecast)
            </td>

            <td>
                @if (item.Forecast == "snow")
                {
                    <span>Don't forget snowshoes! </span>
                }
                else if(item.Forecast == "thunderstorms")
                {
                    <span>Seek shelter and avoid hiking on exposed ridges</span>
                }
                else if(item.Forecast == "rain")
                {
                    <span>Pack raingear and waterproof shoes!</span>
                }
                else if(item.Forecast == "sunny")
                {
                    <span>Bring sunblock!</span>
                }
            </td>
        </tr>
    }
</table>

<p> @Html.ActionLink("Back To NPGeek Park List", "Index")</p>
