@model IList<Park>
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>List of Parks</h2>


<table class="table">
        <th>
            Park Name
        </th>
        <th>
            State
        </th>
        <th>
            Description
        </th>
        <th></th>
    </tr>



    @foreach (var item in Model)
    {
        var parkImage = "/Content/Images/" + item.ParkCode.ToLower() + ".jpg";
        <tr>
<<<<<<< HEAD
            <td>
                <a href="@Url.Action("ParkDetail", "Park", new { id = item.ParkCode})">
=======
            <td> <img src=@parkImage  /> </td>
            <td>
                <a href="@Url.Action("ParkDetail", "Park", new { id = item.ParkCode })">
>>>>>>> 2a69bad90bd81b12d968562c2f75f9681199ec5e
                    @Html.DisplayFor(modelItem => item.ParkName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td></td>
        </tr>
    }
</table>
