@model List<Park>
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Park Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var parkImage = "~etc/National Park Geek/img/parks" + Model.ParkImage; how to add image to utilize in for each loop, rather than creating new line of code for each image?
}

<h2>Park Detail</h2>

<p>
    @Html.ActionLink("Back To List", "Index")
</p>
<table class="table">
    <tr>
        <th>
            ParkName
        </th>
        <th>
            State
        </th>
        <th>
            Acreage
        </th>
        <th>
            Elevation In Feet
        </th>
        <th>
            Miles Of Trail)
        </th>
        <th>
            Number Of Campsites
        </th>
        <th>
            Climate
        </th>
        <th>
            YearFounded
        </th>
        <th>
            Annual Visitor Count
        </th>
        <th>
            Inspirational Quote
        </th>
        <th>
            Inspirational Quote Source
        </th>
        <th>
            Park Description
        </th>
        <th>
            Entry Fee
        </th>
        <th>
            Number Of Animal Species
        </th>
        <th>5-Day Forecast</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acreage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationInFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilesOfTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCampsites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Climate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualVisitorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspirationalQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspirationalQuoteSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAnimalSpecies)
            </td>
            <td>
                @Html.ActionLink("View 5-Day Forecast", "Weather", "Weather")
            </td>
        </tr>
    }

</table>
