@model Park
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Park Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //var parkImage = "~etc/National Park Geek/img/parks" + Model.ParkImage; how to add image to utilize in for each loop, rather than creating new line of code for each image?
}

<h2>Park Detail</h2>

<p>
    @Html.ActionLink("Back To List", "Index")
</p>
<table class="table">
    <tr>
        <td>
           Park: @Model.ParkName
        </td>
        <td>
           State: @Model.State
        </td>
        <td>
           Acreage: @Model.Acreage
        </td>
        <td>
           Elevation In Feet: @Model.ElevationInFeet
        </td>
        <td>
           Trail Length: @Model.MilesOfTrail miles
        </td>
        <td>
           Total Campsites: @Model.NumberOfCampsites
        </td>
        <td>
           Climate: @Model.Climate
        </td>
        <td>
           Year Founded: @Model.YearFounded
        </td>
        <td>
           Annual Visitors: @Model.AnnualVisitorCount
        </td>
        <td>
           Inspiration Quote: @Model.InspirationalQuote
        </td>
        <td>
           Quote Source: @Model.InspirationalQuoteSource
        </td>
        <td>
           Summary: @Model.ParkDescription
        </td>
        <td>
           Fee: @Model.EntryFee.ToString("C")
        </td>
        <td>
           # of Animal @Model.NumberOfAnimalSpecies       
        </td>
        <td> 
            @Html.ActionLink("View 5-Day Forecast", "Weather", "Weather")
        </td>
    </tr>

    @*@foreach (var item in Model)
    {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.ParkName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acreage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ElevationInFeet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MilesOfTrail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfCampsites)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Climate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearFounded)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AnnualVisitorCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspirationalQuote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InspirationalQuoteSource)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EntryFee)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAnimalSpecies)
            </td>
            <td>
                @Html.ActionLink("View 5-Day Forecast", "Weather", "Weather")
            </td>
        </tr>
    }*@

</table>
