@model Park
@using Capstone.Web.Models;
@{
    ViewBag.Title = "Park Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var parkImage = "/Content/Images/" + Model.ParkCode.ToLower() + ".jpg";
}
<br />
<br />

<h2 style="font-size:x-large">
    @Model.ParkName <img style="float:right;" src=@parkImage />
</h2>
<br />
<br />
<br />
<br />
<br />
<p>
    @Model.ParkDescription
</p>
<table class="table">
    <tr>
        <td>
            <b><u>State</u></b> @Model.State
        </td>
        <td>
            <b><u>Acreage</u></b> @Model.Acreage
        </td>
        <td>
            <b><u>Elevation (in ft)</u></b> @Model.ElevationInFeet
        </td>
        <td>
            <b><u>Trail Length (in miles)</u></b> @Model.MilesOfTrail 
        </td>
        <td>
            <b><u>Campsites</u></b> @Model.NumberOfCampsites
        </td>
        <td>
            <b><u>Climate</u></b> @Model.Climate
        </td>
        <td>
            <b><u>Founded In</u></b> @Model.YearFounded
        </td>
        <td>
            <b><u>Annual Visitors</u></b> @Model.AnnualVisitorCount
        </td>
        <td>
            <b><u>Fee</u></b> @Model.EntryFee.ToString("C")
        </td>
        <td>
            <b><u>Animal Species</u></b> @Model.NumberOfAnimalSpecies
        </td>
        @*<td>
                <b>@Html.ActionLink("View 5-Day Forecast", "Weather", "Weather")</b>
            </td>*@
    </tr>
</table>
<table class="table">
    <tr>
        <td>
            <b>Inspirational Quote |</b> @Model.InspirationalQuote
            <b>- @Model.InspirationalQuoteSource</b>
        </td>
    </tr>
</table>
<p> @Html.ActionLink("Back To NPGeek Park List", "Index")</p>
